<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsl.lslaiserviceagent.mapper.QuestionFingerprintMapper">
    <!-- MyBatis Mapper XML -->
    <update id="incrementHitCount">
        UPDATE question_fingerprint
        SET askCount = askCount + 1,
            lastAskedTime = NOW()
        WHERE fingerprint = #{fingerprint}
    </update>
</mapper>
